/* color for site: #013e84 */

.navbar-custom {
    background-color: #013e84 !important;
    color: white;
}

h1, h2, h3 {
    color: #013e84;
}

.blueBackground {
    background-color: #013e84 !important;
    color: white;
}
#errorMessages {
    color: red;
}