/* color for site: #013e84 */

.navbar-custom {
    background-color: #013e84 !important;
    color: white;
}

h1, h2, h3 {
    color: #013e84;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin-top: 8px;
}

.blueBackground {
    background-color: #013e84 !important;
    color: white;
}

#errorMessages {
    color: red;
    font-size: 1em;
}

#msgDiv {
    font-size: 1.5em;
}